.wrapper{
  width: 300px !important;
}

.item {
  display: flex;
  padding: var(--gap);
  transition: 0.3s;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  gap: var(--gap);
}
