@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Roboto, sans-serif;
    font-weight: normal;
}

body, html {
    background: var(--main-color);
    min-height: 100vh;
}

