:root {
    --gap: 10px;

    /* ---fonts--- */
    --font-100: 12px;
    --font-150: 14px;
    --font-200: 16px;

    /* Colors */
    --main-color: blue;
    --secondary-color: white;
    --main-border-color: #fff3;

    --icon-main-color:white;
    --icon-main-inversion-color: black;
    --icon-secondary-color:rgba(0 0 0 / 54%);
    --icons-hover-color: yellow;

    --text-color-1: white;
    --text-color-2: black;
    --text-color-3: rgba(0 0 0 / 50%);
    --border: rgba(255 355 355 / 30%)
}