.card {
  display: grid;
  grid-template-columns: minmax(100px, 1fr);
  gap: var(--gap);
}

.input {
  width: 300px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap:var(--gap);
}

.actions {
  display: flex;
  gap:var(--gap);
}