.todo-item {
  cursor: pointer;
  display: flex;
  min-height: max-content;
  position: relative;
  transition: 0.2s;
  width: 100%;

  &:hover {
    border-color: #4dabf5;
  }
}

.priority-circle {
  border-radius: 100%;
  box-shadow: 0 0 8px 0 rgb(34 60 80 / 20%);
  box-shadow: 0 0 8px 0 rgb(34 60 80 / 20%);
  box-shadow: 0 0 8px 0 rgb(34 60 80 / 20%);
  height: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 10px;

  &.high{
    background: red;
  }

  &.middle{
    background: orange;
  }

  &.low{
    background: green;
  }
}

.title{
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  white-space: nowrap;
}

.creation-date{
  font-size: var(--font-100);
}

.item-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  max-width: 100%;
  overflow: hidden;
}

.control-panel {
  height: max-content;
  min-width: max-content;
}